services:
    broker:
        image: apache/kafka:latest
        container_name: broker
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,PLAINTEXT_HOST://0.0.0.0:19092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092,PLAINTEXT_HOST://localhost:19092
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_NUM_PARTITIONS: 3
        ports:
            - 19092:19092
    kafka-ui:
        container_name: kafka-ui
        image: provectuslabs/kafka-ui:latest
        ports:
            - 8080:8080
        environment:
            DYNAMIC_CONFIG_ENABLED: "true"
    debug:
        image: alpine/curl
        stdin_open: true
        tty: true
        command: sh
    prometheus-source:
        image: prom/prometheus
        ports:
            - 9090:9090
        volumes:
            - ./conf/prometheus/prometheus-source.yml:/etc/prometheus/prometheus.yml
    jobmanager:
        image: flink:1.20.3-scala_2.12
        ports:
            - "8082:8081"
        command: jobmanager
        environment:
            - |
              FLINK_PROPERTIES=
              jobmanager.rpc.address: jobmanager
    taskmanager:
        image: flink:1.20.3-scala_2.12
        depends_on:
            - jobmanager
        command: taskmanager
        scale: 1
        environment:
            - |
              FLINK_PROPERTIES=
              jobmanager.rpc.address: jobmanager
              taskmanager.numberOfTaskSlots: 2
    mongo:
        image: mongo:8.2.3
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
            MONGO_INITDB_DATABASE: streamingMetrics
        ports:
          - 27017:27017
        volumes:
          - ./conf/mongodb:/docker-entrypoint-initdb.d
